<!-- Row Two -->
<div class="pure-g center">

  <div class="pure-u-1-2">

    <div class="pure-g ui center">
      <div class="pure-u-1-1">
        <!-- <div class="icon-flat_message icon-small icon" data-id="toolbar:messages"></div> -->
        <div style="margin-top: 1em; margin-bottom: 1em;">Hits / {{time_window_name}} - {{hits_per_time_slice}}</div>
        <div style="margin-top: 1em; margin-bottom: 1em;">Avg. Hits / {{time_window_name}} - {{hits_per_time_slice}}</div>
        <div style="margin-top: 1em; margin-bottom: 1em;">Total Hits - {{total_hits}}</div>
      </div>
    </div>

  </div>

  <div class="pure-u-1-2">
    <div class="pure-g ui center">
      <div class="pure-u-1-1">
        <!-- <div class="icon-flat_message icon-small icon" data-id="toolbar:messages"></div> -->
        <div style="margin-top: 1em; margin-bottom: 1em;">Interactions / {{time_window_name}} - {{interactions_per_time_slice}}</div>
        <div style="margin-top: 1em; margin-bottom: 1em;">Avg. Interactions / {{time_window_name}} - {{interactions_per_time_slice}}</div>
        <div style="margin-top: 1em; margin-bottom: 1em;">Total Interactions - {{total_interactions}}</div>
      </div>
    </div>
  </div>

</div>
<!-- End Row Two -->
